extends ../shared/layout
block main-content
    form(method="post")
        label(for="old-password") Old password
        input(id="old-password" class="form-control" type="password" name="oldPassword" placeholder="Old password" required="required")
        br
        label(for="new-password") New Password
        input(id="new-password" class="form-control" type="password" name="newPassword" placeholder="New Password" required="required")
        br
        label(for="confirm-password") Confirm Password
        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password" required="required")
        br
        input(type="submit" class="btn btn-lg btn-primary" value="Change")