script(src="./js/jquery.min.js" onload=" typeof(module)=='object' && module.exports ? window.$ = window.jQuery = module.exports : '';")
script(src="js/bootstrap.js" type="text/javascript")

block page-scripts